@charset "UTF-8";
body {
  color: #333333;
  font-family: "ヒラギノ明朝 Pro";
  margin: 0;
}

.wrapper {
  width: 1366px;
  margin: 0 auto;
}

.homeheader {
  overflow: hidden;
  width: 1366px;
  height: 670px;
  background-image: url(../img/main.png);
  background-repeat: no-repeat;
}

.homeheader h1 {
  width: 181px;
  height: 84px;
  background-image: url(../img/rogo.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-left: 80px;
  margin-top: 50px;
  float: left;
}

.homeheader ul.nav {
  width: 700px;
  height: 15px;
  font-size: 18px;
  color: #fff;
  float: right;
  margin-right: 150px;
  margin-top: 66px;
}

.homeheader ul.nav li {
  padding: 0 30px;
  border-right: 1px #fff solid;
  float: left;
}

.homeheader ul.nav li:last-child {
  border-right: none;
}

.homeheader ul.nav li a {
  text-decoration: none;
  color: #fff;
}

.homeheader ul.nav li a:hover {
  text-decoration: underline;
}

h2 {
  width: 350px;
  height: 35px;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}

article {
  width: 1366px;
  height: 470px;
  border-bottom: 1px #bcbcbc solid;
}

article .news {
  width: 433px;
  height: 314px;
  margin-left: 146px;
  position: absolute;
  margin-top: 82px;
}

article .news ul.kousin p {
  width: 433px;
  height: 55px;
  line-height: 55px;
  font-size: 14px;
  color: #30648e;
  border-top: 1px #30648e dashed;
  text-indent: 10px;
}

article .news ul.kousin span {
  margin-left: 35px;
  font-size: 16px;
  color: #000;
}

article .social {
  width: 513px;
  height: 314px;
  float: right;
  margin-right: 115px;
  margin-top: 82px;
}

article .social ul {
  width: 418px;
  margin-top: 91px;
  margin: 0 auto;
  margin-top: 80px;
}

article .social p {
  font-family: ヒラギノ角ゴ ProN;
  line-height: 20px;
  margin-top: 20px;
}

article .social p span {
  font-size: 11px;
  color: #3b5998;
}

article .social p.aisatu {
  font-size: 16px;
  color: #3b5998;
  float: right;
}

article .social p.aisatu span {
  font-size: 14px;
  color: #7e828a;
  margin-right: 280px;
}

.about {
  height: 756px;
  margin-top: 82px;
}

.about ul {
  width: 1180px;
  margin-left: 115px;
  margin-top: 80px;
  overflow: hidden;
}

.about ul li {
  float: left;
}

.about p.kodawari {
  width: 580px;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 55px;
  margin-top: 60px;
}

.about img {
  width: 597px;
}

.about .aboutmore {
  width: 195px;
  height: 50px;
  background-color: #1b1b1b;
  margin: 0 auto;
  clear: both;
}

.about .aboutmore p.more {
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  margin-top: 110px;
}

.about .aboutmore p.more a {
  text-decoration: none;
  color: #fff;
}

.about .aboutmore p.more:hover {
  text-decoration: underline;
}

.menu {
  height: 520px;
  background-color: #fff8f1;
  padding-top: 82px;
}

.menu p {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-top: 25px;
}

.menu ul {
  margin-left: 195px;
  margin-top: 37px;
}

.menu ul li {
  width: 210px;
  height: 240px;
  display: inline-block;
  text-align: center;
  margin-right: 48px;
}

.menu ul li img {
  margin-bottom: 15px;
}

.menu .menumore {
  width: 195px;
  height: 50px;
  background-color: #1b1b1b;
  margin: 0 auto;
}

.menu .menumore p.itiran {
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding-top: 15px;
  margin-top: 30px;
}

.shop {
  height: 665px;
  margin-top: 82px;
}

.shop ul {
  width: 970px;
  margin: 77px 0 0 203px;
}

.shop li {
  float: right;
}

.shop li p.nemu {
  font-size: 30px;
}

.shop li p {
  font-size: 18px;
  line-height: 20px;
  margin-top: 20px;
}

.shop li img {
  margin-top: 20px;
}

footer {
  height: 220px;
  color: #fff;
  background-color: #3e5f7b;
  font-size: 14px;
  overflow: hidden;
}

footer ul {
  margin-top: 50px;
  float: left;
  padding: 15px 30px;
}

footer ul.jyusyo {
  width: 238px;
  margin-left: 135px;
}

footer ul.jyusyo p {
  line-height: 18px;
  margin-bottom: 5px;
}

footer ul.jyusyo p span {
  font-size: 30px;
}

footer ul.info {
  width: 140px;
  border-left: 1px #fff solid;
  border-right: 1px #fff solid;
}

footer ul.info p {
  line-height: 30px;
}

footer ul.footernav {
  width: 150px;
}

footer ul.footernav li {
  margin-bottom: 15px;
  float: left;
  margin-right: 30px;
}

footer ul.footernav li:nth-child(2n) {
  margin-right: 0;
}

.aboutheader {
  width: 1366px;
  height: 670px;
  background-image: url(../img/kodawari_main.png);
  background-repeat: no-repeat;
  overflow: hidden;
}

.aboutheader h1 {
  width: 181px;
  height: 84px;
  background-image: url(../img/rogo.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-left: 80px;
  margin-top: 50px;
  float: left;
}

.aboutheader ul.nav {
  width: 700px;
  height: 15px;
  font-size: 18px;
  color: #fff;
  float: right;
  margin-right: 150px;
  margin-top: 66px;
}

.aboutheader ul.nav li {
  padding: 0 30px;
  border-right: 1px #fff solid;
  float: left;
}

.aboutheader ul.nav li a {
  text-decoration: none;
  color: #fff;
}

.aboutheader ul.nav li a:hover {
  text-decoration: underline;
}

main {
  text-align: center;
  padding: 95px 0 225px 0;
}

main p {
  　　font-size: 24px;
  line-height: 36px;
  margin-top: 50px;
}

main img {
  margin-top: 150px;
  margin-bottom: 50px;
}
