$base_font: "ヒラギノ明朝 Pro";
$font_color: #333333;

body {
  color: $font_color;
  font-family: $base_font;
  margin: 0;
}

.wrapper {
  width: 1366px;
  margin: 0 auto;
}

.homeheader {
  overflow: hidden;
  width: 1366px;
  height: 670px;
  background-image: url(../img/main.png);
  background-repeat: no-repeat;
  h1 {
    width: 181px;
    height: 84px;
    background-image: url(../img/rogo.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin-left: 80px;
    margin-top: 50px;
    float: left;
        }
  ul.nav{
    width: 700px;
    height: 15px;
  font-size: 18px;
  color: #fff;
  float: right;
  margin-right: 150px;
  margin-top: 66px;
    li{
padding:0 30px;
border-right: 1px #fff solid;
float: left;
&:last-child {
  border-right: none;
}
a {
  text-decoration: none;
  color: #fff;
  &:hover {
    text-decoration: underline;
  }
}
    }
  }

}
h2 {
  width: 350px;
  height: 35px;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}

article {
  width: 1366px;
  height: 470px;
  border-bottom: 1px #bcbcbc solid;
  .news {
    width: 433px;
    height: 314px;
    margin-left: 146px;
    position: absolute;
margin-top: 82px;
    ul.kousin {
      p{
        width: 433px;
        height: 55px;
        line-height: 55px;
        font-size: 14px;
        color: #30648e;
        border-top: 1px #30648e dashed;
        text-indent: 10px;
      }
      span {
        margin-left: 35px;
        font-size: 16px;
        color: #000;
      }
    }
  }
  .social {
    width: 513px;
    height: 314px;
    float: right;
    margin-right:115px;
    margin-top: 82px;

    ul {
      width: 418px;
      margin-top: 91px;

      margin: 0 auto;
      margin-top: 80px;
    }
    p{
      font-family: ヒラギノ角ゴ ProN;
      line-height: 20px;
      margin-top: 20px;
      span {
          font-size: 11px;
          color: #3b5998;
      }
    }
    p.aisatu {
      font-size: 16px;
      color: #3b5998;
      float: right;
      span {
          font-size: 14px;
          color: #7e828a;
          margin-right: 280px;
        }
    }
  }
}

.about {
  height: 756px;
  margin-top: 82px;

  ul{
    width: 1180px;
    margin-left: 115px;
    margin-top: 80px;
    overflow: hidden;
    li{
      float: left;

    }
  }
  p.kodawari {
    width: 580px;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 55px;
    margin-top: 60px;
  }
  img {
    width: 597px;

  }
  .aboutmore {
    width: 195px;
    height: 50px;
    background-color: #1b1b1b;
    margin: 0 auto;
    clear: both;
    p.more {
      font-size: 16px;
    text-align: center;
    padding-top: 20px;
    margin-top: 110px;
    a{
      text-decoration: none;
      color: #fff;
    }
    &:hover {
      text-decoration: underline;
    }
    }
  }
}

.menu {
  height: 520px;
  background-color: #fff8f1;
padding-top: 82px;
  p {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    margin-top: 25px;
  }
  ul{
margin-left: 195px;
margin-top: 37px;

    li{
      width: 210px;
      height: 240px;
      display: inline-block;
      text-align: center;
      margin-right: 48px;
      img {
        margin-bottom: 15px;
      }
    }
  }
  .menumore {
    width: 195px;
    height: 50px;
    background-color: #1b1b1b;
    margin: 0 auto;
    p.itiran {
      font-size: 16px;
      color: #fff;
    text-align: center;
    padding-top: 15px;
    margin-top: 30px;

    }
  }

}
.shop {
  height: 665px;
  margin-top: 82px;
  ul {
    width: 970px;
    margin: 77px 0 0 203px;
  }
  li {
    float: right;
    p.nemu {
      font-size: 30px;
    }
    p {
      font-size: 18px;
      line-height: 20px;
      margin-top: 20px;
    }
    img {
      margin-top: 20px;
    }
  }
}

footer {
  height: 220px;
  color: #fff;
  background-color: #3e5f7b;
  font-size: 14px;
  overflow: hidden;
  ul{
    margin-top: 50px;
    float: left;
    padding: 15px 30px;
  }
  ul.jyusyo {
    width: 238px;
    margin-left: 135px;
    p {
      line-height: 18px;
      margin-bottom: 5px;
    span {
      font-size: 30px;
    }
    }
  }

  ul.info {
    width: 140px;
    border-left: 1px #fff solid;
    border-right: 1px #fff solid;

    p {
      line-height: 30px;
    }
  }

ul.footernav {
  width: 150px;

  li {
    margin-bottom: 15px;
    float: left;
    margin-right: 30px;


    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
}

/////////////////////////////////////////

//ここからabout

.aboutheader {
  width: 1366px;
  height: 670px;
  background-image: url(../img/kodawari_main.png);
  background-repeat: no-repeat;
  overflow: hidden;
  h1 {
    width: 181px;
    height: 84px;
    background-image: url(../img/rogo.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin-left: 80px;
    margin-top: 50px;
    float: left;
        }
  ul.nav{
    width: 700px;
    height: 15px;
  font-size: 18px;
  color: #fff;
  float: right;
  margin-right: 150px;
  margin-top: 66px;

    li{
padding:0 30px;
border-right: 1px #fff solid;
float: left;
a {
  text-decoration: none;
  color: #fff;
  &:hover {
    text-decoration: underline;
  }
}
    }
  }

}

main {
  text-align: center;
  padding: 95px 0 225px 0;
  p{
　　font-size: 24px;
line-height: 36px;
margin-top: 50px;
  }
  img {
    margin-top: 150px;
    margin-bottom: 50px;
  }
}
